<ion-header>
    <ion-navbar>
        <ion-title>Provider Info</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <div class="div">
        <img src="assets/imgs/2.jpg">
    </div>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>Name</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">{{uData.Dealer_ID.first_name}}&nbsp;{{uData.Dealer_ID.last_name}}</p>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>Contacts</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">{{uData.Dealer_ID.phone}}</p>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>Mobile</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">{{uData.Dealer_ID.phone}}</p>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>E-mail</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">{{uData.Dealer_ID.email}}</p>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>Address</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">N/A</p>
        </ion-col>
    </ion-row>
    <hr>
</ion-content>