// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.ios, .md, .wp {

    
.toolbar .searchbar-ios .searchbar-input {
    background: #fff;
}
    
side-menu-content{
    background-image: linear-gradient(to left top, #ac3a5e, #9f306c, #8b2d7a, #6e3088, #423592);
    background-repeat:no-repeat;
    .item > ion-icon, .item-inner > ion-icon {
        min-height: 2rem;
        font-size: 2rem;
        line-height: 1;
    }
}
side-menu-content ion-item.item-ios.item.item-block, side-menu-content ion-item.item-md.item.item-block, side-menu-content ion-item.item-wp.item.item-block {
    border-bottom: 1px solid #717775;
    background: transparent;
    color: white;
    font-size: 1em;
}

#outerNew{
    background-image: linear-gradient(to left top, #ac3a5e, #9f306c, #8b2d7a, #6e3088, #423592);
    background-repeat:no-repeat;
    background-size:cover;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
    // color: white;
}
.toolbarmd {
    // .toolbar-md {
    //     padding: 4px;
        min-height: 38px;
    // }
}

ion-header {
    .toolbar-background {
        background-image: linear-gradient(to left top, #ac3a5e, #9f306c, #8b2d7a, #6e3088, #423592);
    }
    .toolbar-title-md,
    .toolbar-title-ios {
        color: #fff;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
    }

    .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #fff;
    }
    
}

.EditIcon {
    ion-icon{
        color: 'red';
    }
 }

.footSty {
    .toolbar-background {
        background: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    }
    .toolbar-md,
    .toolbar-ios {
        padding: 0px;
        min-height: 45px;
    }
}

.headProf {
    // background: url('../assets/imgs/1.jpg');
    background-image: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    text-align: center;
    padding: 10px;
    color:#f0f0f0;

    img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contact-popover .popover-content{ width: 120px; }
.iosPop-popover .popover-content{ width: 320px; }
ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-fuel"] {
      mask-image: url(../assets/icon/fuel.svg);
    }
  }

}
